.title {
  font-size: 22px;
  line-height: 33px;
}

.img {
  height: 300px;
  object-fit: cover;
}

.priceAll {
  font-size: 33px;
  line-height: 54px;
}

.text {
  font-size: 16px;
  line-height: 27px;
}

.textGrey {
  color: rgba(0, 0, 0, 0.7);
}

.btn {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 0 0 8px 8px;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  background: rgba(246, 246, 246, 1);
  cursor: pointer;
  font-family: 'Geometria', system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 0.3s;
}

.btn:hover {
  background: rgba(42, 148, 226, 1);
  color: white;
}
